.container{
    display: flex;
    float: inline-start;
}

.profile-detail-container{
    width: 70%;
    border-right: 1px solid lightgray;
    margin-left: 100px;
    margin-right: 10px;
    overflow-y: scroll;
    height: 100vh;
}